body {
  background-color: #222;
  font-family: Arial, sans-serif;
  color: #eee;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: $direction;
}

button {
  @extend body;
  // extend style from another and overwrite
  background-color: #444;
  color: #eee;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include flexCenter(center);

  &:active {
    transform: translateY(2px);
  }
}
